NODE_ENV=development
PORT=4000

DATABASE_URL=postgres://usuario:password@localhost:5432/kinecrm
DATABASE_SSL=false
DB_POOL_MIN=0
DB_POOL_MAX=10

JWT_SECRET=cambia-este-valor-por-un-secreto-largo-y-aleatorio
JWT_EXPIRES_IN=7d
BCRYPT_ROUNDS=10

CORS_ORIGINS=http://localhost:5173

TZ_DEFAULT=America/Argentina/Buenos_Aires
